Python>=3.8
Proj==0.2.0
cftime==1.5.0
dask==2021.10.0
h5netcdf==0.11.0
h5py==2.10.0
nc-time-axis==1.4.1
netCDF4==1.5.7
pandas==1.5.2
rioxarray==0.13.2
scikit-image==0.18.3
scikit-learn==1.2.0
scipy==1.9.3
seaborn==0.12.1
Shapely==1.7.1
SkillMetrics==1.1.8
sklearn==0.0
Sphinx==4.2.0
statsmodels==0.12.2
verif==1.2.0
voila==0.2.16
xarray==0.19.0
xarray-hdf==0.1.0
Cartopy==0.20.3
